[submodule "dailyfeed-activity"]
	path = dailyfeed-activity
	url = https://github.com/alpha3002025/dailyfeed-activity.git
[submodule "dailyfeed-code"]
	path = dailyfeed-code
	url = https://github.com/alpha3002025/dailyfeed-code.git
[submodule "dailyfeed-kafka-support"]
	path = dailyfeed-kafka-support
	url = https://github.com/alpha3002025/dailyfeed-kafka-support.git
